body{
    font-family: Arial;
}

.container{
    text-align: center;
    display: grid;
    /* grid-template-columns: 25% 50% 25%; */
    /* grid-template-rows: 200px 200px 200px; */
    grid-template: 200px 100px 90px / 20% 40% 20% 20%;
}

.item{
    background: lightblue;
    padding: 10px;
    border: 1px dashed blue;
}