body{
    font-family: Arial;
}

.container{
    text-align: center;
    display: grid;
    grid-template-columns:[inicio] 1fr [linea2] 1fr [linea3] 1fr [destacado-end] 1fr [linea5] 1fr [destacado2-end] 1fr [linea7] 1fr [final];
    grid-template-rows: [inicio] 200px [linea2] 200px [final]; 
    grid-gap: 3px;
    height: 100vh;
    /* grid implicito */
    /* grid-auto-flow: row;   grid implicito*/
    /* grid-auto-flow: column; */ 
    /* grid-auto-columns: 200px 200px 200px 200px */
    grid-auto-rows: 50px 100px


}

.item{
    background: lightblue;
    padding: 10px;
    border: 1px dashed blue;
    /* margin-right: 10px; */
    /* margin-bottom: 10px; */
}

.item:nth-of-type(1){
    /* background: blue;
    grid-column-start: 1;
    grid-column-end: 3;     */

    /* grid-column: 1 / span 3;
    grid-row: 1 / span 2; */

    grid-column: inicio / destacado-end;
    grid-row: inicio / final;

}
.item:nth-of-type(2){
    /* grid-column: 2 /4; */

    /* grid-column: 4 / span 2;
    grid-row: 1 / span 2; */
    grid-column: destacado-end / destacado2-end;
    grid-row: inicio / final;

}

.item:nth-of-type(3){
    /* grid-column: 6/ span 2; */
    grid-column: destacado2-end / final;
}

